/* style.css */

body {
    font-family: Helvetica, Arial, "Times New Roman";
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.recipelist {
    text-align:center;
}

