/* style.css */

body {
    font-family: Helvetica, Arial, "Times New Roman";
}

.alltitles {
    text-align:center;
    font-weight: bold;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.recipelist {
    text-align:center;
}

.recipelist p {
    margin: 0;
    padding: 0;
}
